
.stages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;
}

.lower-stage {
  align-self: end;
  z-index: 1;
}

.upper-stage {
  align-self: start;
  z-index: 1;
}

.line {
  align-self: center;
  margin-right: -80px;
  margin-left: -80px;
  z-index: 0;
}
